---
const { title, url, date, image, tags = [], languages = [] } = Astro.props;

import Tag from "../ui/Tag.astro";
import ReadMore from "../ui/ReadMore.astro";
import DatePub from "./DatePub.astro";
import Capsule from "../ui/Capsule.astro";
import { Icon } from "astro-icon/components";
---

<article class="group relative bg-white dark:bg-zinc-900/25 dark:border dark:border-zinc-800 dark:hover:border-mint-500/40 backdrop-blur-lg overflow-hidden hover:shadow-[0_10px_50px_rgba(244,63,94,0.12)] dark:hover:shadow-[0_10px_50px_rgba(244,63,94,0.18)] p-8 max-md:p-6 w-full flex justify-between items-center bg-gradient-to-r hover:from-rose-50 hover:to-red-50/50 dark:hover:from-mint-950/20 dark:hover:to-mint-900/10 transition-all hover:scale-[1.015] duration-300 ease-out gap-8 max-md:gap-4 rounded-2xl max-md:flex-col-reverse border border-zinc-100 hover:border-mint-200 dark:border-zinc-800">
    <div class="flex flex-col">
        <a href={url} class="flex flex-col gap-4 w-full">
            <div class="flex items-center gap-2.5">
                <Icon name="terminal" class="size-3 text-mint-500/50" />
                <DatePub date={date} />
            </div>
            <h2 class="dark:text-mint-50 text-blacktext text-3xl font-bold text-pretty group-hover:text-mint-600 dark:group-hover:text-mint-400 transition-colors duration-300">{title}</h2>
            <ReadMore />
        </a>
        <div class="gap-3 mt-3 flex flex-col">
            <div class="flex gap-2 flex-wrap">
                {languages.length > 0 && languages.map((language: string) => <Capsule lang={language} />)}
            </div>
            <div class="gap-2 flex flex-wrap justify-start items-center">
                {tags.length > 0 && tags.map((tag: string) => <Tag tag={tag}>{tag}</Tag>)}
            </div>
        </div>
    </div>
    {image?.url && (
        <a href={url} class="relative shrink-0 rounded-2xl overflow-hidden max-md:w-full w-2/6">
            <div style={{ backgroundImage: `url(${image.url})` }} class="rounded-2xl bg-center bg-cover aspect-video max-md:aspect-video w-full h-full transition-transform duration-500 group-hover:scale-105" />
            <div class="absolute inset-0 rounded-2xl pointer-events-none opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-[repeating-linear-gradient(0deg,transparent,transparent_3px,rgba(239,68,68,0.02)_3px,rgba(239,68,68,0.02)_6px)]" />
        </a>
    )}
</article>
